
.dishes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
}

/* Карточка одного блюда (section > div > div) */
.dish-card {
    background-color: #ffffff; 
    padding: 30px 40px; 
    border-radius: 35px; 
    cursor: pointer; 
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    transition: border 0.3s ease;
    border: 2px solid transparent; 


    display: flex;
    flex-direction: column; 
    height: 100%; 
}

.dish-card:hover {
    border: 2px solid tomato; 
}

/* Изображение (section>div>div>img) */
.dish-card img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    display: block;
    object-fit: cover;
    border-radius: 35px; 
    margin-bottom: 20px; 
}

/* Цена (section>div>div>p с ценой) */
.dish-card .dish-price {
    font-size: 1.5em; 
    font-weight: 700;
    margin: 0;
}

/* Название блюда (section>div>div>p с названием) */
.dish-card .dish-name {
    font-size: 1.25em; 
    font-weight: 700;
    margin: 10px 0;
    flex-grow: 1; 
}

/* Вес/объем (section>div>div>p с весом/объемом) */
.dish-card .dish-weight {
    color: #888; 
    margin: 0 0 15px 0;
}

/* Кнопка (section>div>div>button) */
.dish-card button {
    background-color: #f1eee9; 
    border: none;
    padding: 10px 30px;
    border-radius: 10px; 
    cursor: pointer; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
    
    margin-top: 15px; 
    align-self: flex-start; 
    width: auto;
}

.dish-card:hover button {
    background-color: tomato; 
    color: white;
}


/* Ширина экрана ≤800px (Планшеты) */
@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: 1fr 1fr; 
        gap: 15px; 
    }


    .container > header nav {
        justify-content: space-between; 
    }
}

/* Ширина экрана ≤600px (Мобильные) */
@media (max-width: 600px) {
    .container > header h1 {
        text-align: center;
    }

    .container > header nav {
        flex-direction: column;
        align-items: center;
    }

    .container > header nav a {
        font-size: 20px; 
    }


    .menu-section h2 {
        text-align: center;
    }


    .dishes-grid {
        grid-template-columns: 1fr; 
        gap: 25px; 
    }

    .dish-card {
        padding: 20px; 
        border-radius: 25px; 
    }
    
    /* Изображение */
    .dish-card img {
        max-height: none; 

        aspect-ratio: 4 / 3; 
        
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .dish-card .dish-name {
        font-size: 1.1em;
    }
}